<!-- <div class="container">
  <div class="row">
    <div>
      <button
        [ngClass]="{ black: !toggle }"
        class="btn btn-outline-dark"
        type="button"
        (click)="enableDisableRule()"
      >
        Add OS
      </button>
    </div>
  </div>
</div> -->

<div class="header_name">
  <label>OS upgrade Administration</label>
</div>
<div class="demo-button-container">
  <button
    [ngClass]="{ black: !toggle }"
    mat-raised-button
    (click)="addData()"
    class="demo-button"
  >
    Add OS
  </button>
</div>

<!-- <div *ngIf="!toggle"><app-add-project-details [data]="addDetail"></app-add-project-details></div> -->

<ng-template #mymodal let-modal>
  <!-- <div class="modal-header" style="display: flex; justify-content: right">
  
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div> -->
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <label class="label_bold padding-btm" for="platform"
                >Platform Details</label
              >

              <mat-select formControlName="platform" class="form-control">
                <mat-option
                  *ngFor="let platformValue of platformList"
                  [value]="platformValue"
                  >{{ platformValue }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <label for="platform">Platform Details</label>

          <select formControlName="platform" class="form-control">
            <option *ngFor="let state of states" [value]="state">
              {{ state }}
            </option>
          </select> -->
        </div>
        <div>
          <label class="label_bold" for="osVersion">Enter OS Version</label>
        </div>
        <div class="col-sm-3">
          <input
            id="osVersion"
            type="text"
            formControlName="osVersion"
            autocomplete="off"
          />
        </div>
        <br />
        <div class="col-sm-12">
          <div class="col-sm-4" style="display: inline-block">
            <div>
              <label class="label_bold" for="endOfLife">End Of Life</label>
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerendOfLife"
                  formControlName="endOfLife"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerendOfLife"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerendOfLife></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-4" style="display: inline-block">
            <div>
              <label class="label_bold" for="endOfSupport"
                >End Of support</label
              >
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerendOfSupport"
                  formControlName="endOfSupport"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerendOfSupport"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerendOfSupport></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-4" style="display: inline-block">
            <div>
              <label class="label_bold" for="endOfSale">End Of Support</label>
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerendOfSale"
                  formControlName="endOfSale"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerendOfSale"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerendOfSale></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <br />
        <div class="col-sm-12">
          <div class="col-sm-3" style="display: inline-block">
            <div><label class="label_bold" for="minCpu">Min CPU</label></div>
            <div>
              <input
                id="minCpu"
                type="text"
                formControlName="minCpu"
                autocomplete="off"
              />
            </div>
          </div>

          <div
            class="col-sm-3"
            style="display: inline-block; padding-left: 8px"
          >
            <div><label class="label_bold" for="minRam">Min RAM</label></div>
            <div>
              <input
                id="minRam"
                type="text"
                formControlName="minRam"
                autocomplete="off"
              />
            </div>
          </div>

          <div
            class="col-sm-3"
            style="display: inline-block; padding-left: 16px"
          >
            <div>
              <label class="label_bold" for="minDiskSpace"
                >Min Disk Space</label
              >
            </div>
            <div>
              <input
                id="minDiskSpace"
                type="text"
                formControlName="minDiskSpace"
                autocomplete="off"
              />
            </div>
          </div>

          <div
            class="col-sm-3"
            style="display: inline-block; padding-left: 30px"
          >
            <button type="button" (click)="addOsTemporarily()">
              <span aria-hidden="true">ADD OS</span>
            </button>
          </div>
        </div>
      </div>
      <!-- <button type="submit">bbb</button> -->
    </form>
    <br />
    <table
      mat-table
      #mymodalChild
      *ngIf="dataPopUpAdd.length"
      [dataSource]="dataPopUpAdd"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="popUposVersion">
        <th mat-header-cell *matHeaderCellDef>OSVersion</th>
        <td mat-cell *matCellDef="let element">{{ element.osVersion }}</td>
      </ng-container>

      <ng-container matColumnDef="popUpEndofLife">
        <th mat-header-cell *matHeaderCellDef>EOL</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endOfLife | date: "dd/mm/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="popUpEndofSupport">
        <th mat-header-cell *matHeaderCellDef>EOS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endOfSupport | date: "yyyy/mm/dd" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="popUpEndofSale">
        <th mat-header-cell *matHeaderCellDef>EOS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endOfSale | date: "dd/mm/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="popUpMinCpu">
        <th mat-header-cell *matHeaderCellDef>Min Cpu</th>
        <td mat-cell *matCellDef="let element">{{ element.minCpu }}</td>
      </ng-container>

      <ng-container matColumnDef="popUpMinRam">
        <th mat-header-cell *matHeaderCellDef>Min RAM</th>
        <td mat-cell *matCellDef="let element">{{ element.minRam }}</td>
      </ng-container>

      <ng-container matColumnDef="popUpMinSpace">
        <th mat-header-cell *matHeaderCellDef>Min Space</th>
        <td mat-cell *matCellDef="let element">{{ element.minDiskSpace }}</td>
      </ng-container>

      <ng-container matColumnDef="popUpoperations">
        <th mat-header-cell *matHeaderCellDef>Operations</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <a
            aria-current="page"
            (click)="popUpEdit('popUpEdit', element)"
            href="javascript:void(0)"
          >
            Edit</a
          >

          <a
            style="padding-left: 5px"
            aria-current="page"
            (click)="popUpRemove('popUpRemove', i, mymodalChild)"
            href="javascript:void(0)"
          >
            Remove
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedPopUpColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedPopUpColumns"></tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="submit()" class="btn btn-outline-dark">
      submit
    </button>
  </div>
</ng-template>

<table
  #mymodalParent
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 demo-table"
>
  <ng-container matColumnDef="osVersion">
    <th mat-header-cell *matHeaderCellDef>OS Version</th>
    <td mat-cell *matCellDef="let element">{{ element.osVersion }}</td>
  </ng-container>

  <ng-container matColumnDef="platform">
    <th mat-header-cell *matHeaderCellDef>platform</th>
    <td mat-cell *matCellDef="let element">{{ element.platform }}</td>
  </ng-container>

  <ng-container matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef>Operations</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <a
        aria-current="page"
        (click)="osUpgradeEdit('edit', element)"
        href="javascript:void(0)"
      >
        Edit</a
      >

      <a
        style="padding-left: 5px"
        aria-current="page"
        (click)="osUpgradeRemove('remove', i, mymodalParent)"
        href="javascript:void(0)"
      >
        Remove
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">{{ element.details }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="!dataSource.length">
  <div class="no_platform">
    <div><span>NO PLATFORMS TO DISPLAY</span></div>
  </div>
  <br />
  <div class="no_platform_link">
    <a href="javascript:void(0)" (click)="addData()"
      >click here to start adding the platform</a
    >
  </div>
</div>
